<!doctype html>
<html style="height: 100%;">
    <head>
        <title>GeekMeet</title>
        <script type="text/javascript" src="/js/common.js"></script>
        <script type="text/javascript" src="/js/colors.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    </head>
    <body style="margin: 0; padding: 0; height: 100%; overflow: hidden;">

        <div id="content" style="width: 100%; height: 100%; display: block">
            <iframe id="contentIframe" src="" style="height: 100%; width: 100%; border: 0px;"></iframe>
        </div>
        <script>
            var socket = io();
            const tv = localStorage.getItem("tv") || (getParameterByName('tv') || Colors.random()).replace(/ /g, "_");
            const room = localStorage.getItem("room") || (getParameterByName("room") || "Setup").replace(/ /g, "_");
            const tvId = `${room}_${tv}`;
            let currentCount = 0;

            function setNonMeetingIframeContent(){
                if(room === "Setup"){
                document.querySelector('#contentIframe').src = `/setup.html?color=${tv}`;
                }
                else{
                    document.querySelector('#contentIframe').src = localStorage.getItem(tvId) || "";
                }
            }

            function handleParticipantCount(count){
                if(count > 0 && currentCount < 1){
                    document.querySelector('#contentIframe').src = `/meeting.html?room=${room}&tv=${tv}&isTv=true`;
                }
                if(count < 1 && currentCount > 0){
                    setNonMeetingIframeContent();
                }
                currentCount = count;
            }
            setInterval(() => {
                if(currentCount === 0){
                    window.location.reload();
                }
            }, 30 * 60 * 1000);

            setNonMeetingIframeContent();

            socket.on("query", rooms => {
                socket.emit("join", {room, tv, isTv: true, url: localStorage.getItem(tvId)});
                rooms.forEach(r => {
                    if(r.name === room){
                        for(let i = 0; i < r.tvs.length; ++i){
                            if(r.tvs[i].name === tv){
                                handleParticipantCount(r.tvs[i].participants);
                            }
                        }
                    }
                });
            });
            socket.on("action", args => {
                console.log(args);
                if(args.action == "URL"){
                    localStorage.setItem(tvId, args.url);
                    document.querySelector("#contentIframe").src = args.url;
                    socket.emit("url_change", args.url);
                }
                else if(args.action === "RELOAD"){
                    window.location.reload();
                }
                else if(args.action === "NAME_CHANGE"){
                    localStorage.setItem("tv", args.tv);
                    localStorage.setItem("room", args.room);
                    window.location.reload();
                }
            });
            socket.on("participants_change", handleParticipantCount);
        </script>
    </body>
</html>