<!doctype html>
<html lang="en" style="height: 100%;">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>GeekMeet</title>
        <script src="/js/common.js"></script>
        <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
        <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
        <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="/js/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    </head>
    <body>
        <div id="Tvs" style="margin: 3rem">
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript">
            if(localStorage.getItem("room") && localStorage.getItem("tv") && window.location.search === ""){
                window.location.href = "/display.html";
            }
        </script>
        <script type="text/babel">
            const isAdmin = getParameterByName('admin') === "true";
            class Tv extends React.Component{
                constructor(props){
                    super(props);
                    this.state = {
                        url: this.props.tv.url || "",
                        renameView: false,
                        editRoomName: this.props.room.name,
                        editTvName: this.props.tv.name
                    }
                    this.handleAddressChange = this.handleAddressChange.bind(this);
                    this.handleKeyPress = this.handleKeyPress.bind(this);
                    this.sendUrl = this.sendUrl.bind(this);
                    this.sendNameChange = this.sendNameChange.bind(this);
                    this.handleRoomNameChange = this.handleRoomNameChange.bind(this);
                    this.handleTvNameChange = this.handleTvNameChange.bind(this);
                }

                componentWillReceiveProps(nextProps){
                    this.setState({url: nextProps.tv.url});
                }

                handleAddressChange(event){
                    this.setState({url: event.target.value || ""});
                }

                handleRoomNameChange(event){
                    this.setState({editRoomName: event.target.value || ""});
                }

                handleTvNameChange(event){
                    this.setState({editTvName: event.target.value || ""});
                }

                handleKeyPress(event){
                    if(event.key === "Enter"){
                        this.sendUrl();
                    }
                }

                sendUrl(){
                    const {tv, room} = this.props;
                    socket.emit('action', {action: "URL", target: `${room.name}_${tv.name}`, url: document.querySelector(`#${room.name}_${tv.name}_val`).value});
                }

                sendNameChange(){
                    const {tv, room} = this.props;
                    socket.emit('action', {action: "NAME_CHANGE", target: `${room.name}_${tv.name}`, room: this.state.editRoomName, tv: this.state.editTvName});
                }

                render(){
                    const {tv, room} = this.props;
                    const standardView = <div className="card-text">
                        {isAdmin && <div className="input-group mb-3">
                            <div className="input-group-prepend">
                                <button className="btn btn-outline-primary" type="button" onClick={() => socket.emit('action', {action: "RELOAD", target: `${room.name}_${tv.name}`})}> <span className="oi oi-reload"></span></button>
                            </div>
                            <input type="text" className="form-control" placeholder="Display Url" value={this.state.url} id={`${room.name}_${tv.name}_val`} onChange={this.handleAddressChange} onKeyPress={this.handleKeyPress} />
                            <div className="input-group-append">
                                <button className="btn btn-success" type="button" onClick={this.sendUrl}>Go</button>
                            </div>
                        </div>}

                        <a href={`/meeting.html?room=${room.name}&tv=${tv.name}`} className="card-link">Join</a>
                        {isAdmin && <a href={`http://${tv.ip}:3000/`} className="card-link">Manage</a>}
                    </div>;

                    const renameView = <div>
                        <div className="input-group mb-3">
                            <input type="text" className="form-control" placeholder="Room Name" value={this.state.editRoomName} onChange={this.handleRoomNameChange} />
                        </div>
                        <div className="input-group mb-3">
                            <input type="text" className="form-control" placeholder="Tv Name" value={this.state.editTvName} onChange={this.handleTvNameChange} />
                        </div>
                        <button className="btn btn-success" type="button" onClick={this.sendNameChange} style={{float: "right"}}>Save</button>
                    </div>;

                    return <div className="card" style={{maxWidth: 400}}>
                        <div className="card-body">
                            <h5 className="card-title">
                                {isAdmin && <button type="button" className="btn btn-link" style={{fontSize: "x-large"}} onClick={() => {this.setState({renameView: !this.state.renameView})}}>{tv.name.replace(/_/g, " ")}</button>}
                                {!isAdmin && tv.name.replace(/_/g, " ")}
                            </h5>
                            {this.state.renameView ? renameView : standardView}
                        </div>
                        <div className="card-footer">
                            <small className="text-muted">{tv.participants} Users Joined</small>
                        </div>
                    </div>;
                }
            }

            function orderByName(a,b){
                const aName = a.name.toLowerCase();
                const bName = b.name.toLowerCase();
                if(aName === "setup") return -1;
                if(bName === "setup") return 1;
                if(aName < bName) return -1;
                if(aName > bName) return 1;
                return 0;
            }
            function render(rooms){
                if(rooms){
                    ReactDOM.render(rooms.sort(orderByName).map(room => <div key={room.name}>
                        <h2>{room.name.replace(/_/g, " ")}</h2>
                        <div className="card-deck" style={{marginBottom: 20}}>
                            {room.tvs.map(tv => <Tv tv={tv} room={room} key={tv.name} />)}
                        </div>
                    </div>), document.getElementById("Tvs"));
                }
            }
            var socket = io();
            socket.on("query", render);
            socket.on("status_change", render);
        </script>

    </body>
</html>