<html>
    <head>
        <script src="https://meet.jit.si/external_api.js"></script>
    </head>
    <body style="margin: 0; padding: 0">
        <div id="meet" style="width: 100%; height: 100%; background-color: black;">

        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/common.js"></script>
        <script type="text/javascript">
            const isTv = getParameterByName('isTv');
            const tv = getParameterByName('tv');
            const room = getParameterByName("room");
            let meId = 0;

            let seed = Number.parseInt(readCookie("seed") || "1");

            function hashCode(str) {
                return Math.abs(str.split('').reduce((prevHash, currVal) =>
                    ((prevHash << 5) - prevHash) + currVal.charCodeAt(0), 0));
            }

            function makeid() {
                function random() {
                    const x = Math.sin(++seed) * 10000;
                    return x - Math.floor(x);
                }

                let text = "";
                const possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

                for (let i = 0; i < 20; i++)
                    text += possible.charAt(Math.floor(random() * possible.length));

                return hashCode((readCookie("salt") || "") + text);
            }
            const displayName = isTv ? "tv" : localStorage.getItem("jitsi_displayname");

            let api = new JitsiMeetExternalAPI("meet.jit.si", {
                roomName: `gm_${window.location.hostname}_${hashCode(room + makeid())}${hashCode(tv + makeid())}${makeid()}${makeid()}`,
                parentNode: document.querySelector("#meet"),
                configOverwrite: {
                    requireDisplayName: displayName === null,
                    startWithAudioMuted: isTv,
                    startWithVideoMuted: isTv,
                },
                interfaceConfigOverwrite: {
                    filmStripOnly: false,
                    SHOW_JITSI_WATERMARK: false,
                    SHOW_WATERMARK_FOR_GUESTS: false,
                }
            });
            api.on("videoConferenceJoined", args => {
                meId = args.id;
            });
            if(isTv){
                api.executeCommand('displayName', 'tv');
                api.executeCommand('avatarUrl', 'https://pbs.twimg.com/profile_images/742375648019107842/J5QjK8uT.jpg');
            }
            else{
                api.on("displayNameChanged", args => {
                    if(args.id === meId){
                        localStorage.setItem("jitsi_displayname", args.displayname)
                    }
                });
                if(displayName !== null){
                    api.executeCommand('displayName', displayName);
                }
            }
            var socket = io();
            socket.on("query", () => {
                socket.emit("join", {room, tv, isTv})
            });
        </script>
    </body>
</html>